.App {
  background: #24C6DC;  /* fallback for old browsers */
background: linear-gradient(to right, #2C3E50, #45B39D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 170px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}

.badge{
  background-color: black;
}

.navbar{
  background-color: rgb(46, 42, 58);
  color: white; 
}